     
<div>
      <h2>Introductions</h2>
      <p>Welcome! Feel free to call me by any permutation of the words in my username. This is a copy of my portfolio with full-size images. I'm rather a talkative person! To see what I have to say about some of my pieces, it's best to look at instagram.</p>

      <p>
      <a href="https://www.twitter.com/{{ site.twitter }}/">
      My Twitter </a> | 
      <a href="https://www.instagram.com/{{ site.instagram }}/">
      My Instagram </a> | 
      <a href="https://archiveofourown.org/users/{{ site.ao3 }}/">
      My AO3 </a> | 
      <a href="https://https://curiouscat.qa/{{ site.curiouscat }}/">
      My CuriousCat </a>
      </p>
</div>

