     
<div>
      <h2>Introductions</h2>
      <p>Welcome! Feel free to call me by any permutation of the words in my username. This is a copy of my portfolio with full-size images. I'm rather a talkative person! To see what I have to say about some of my pieces, it's best to look at instagram.</p>

      <p>
      <a href="https://www.twitter.com/{{ site.twitter }}/">
      My Twitter </a> | 
      <a href="https://www.instagram.com/{{ site.instagram }}/">
      My Instagram </a> | 
      <a href="https://archiveofourown.org/users/{{ site.ao3 }}/">
      My AO3 </a> | 
      <a href="https://https://curiouscat.qa/{{ site.curiouscat }}/">
      My CuriousCat </a>
      </p>

      <h3> Other works </h3>
      A Sakuatsu HQ comic based on 
      <a href="https://twitter.com/dandellieons/status/1266246532551938051">ellie's AU</a>
       and 
      <a href="https://twitter.com/min_mintobe/status/1266629192600309762">min's twtfic</a>. Available on 
      <a href="https://twitter.com/DazzleTwig/status/1278783723253702658">twitter</a>, 
      <a href="https://www.webtoons.com/en/challenge/of-foxes-and-plums/list?title_no=473605">webtoon</a>, and 
      <a href="https://tapas.io/series/Of-Foxes-and-Plums/info">tapas</a>. Selected panel visible in Comics section below.


</div>

