$background: #223843;
$surface: #E4D3CA;

$title: #D77A61;
$subtitle: #D8B4A0;
$text: #EFF1F3;
$link: #E4D3CA;

$heading1: $subtitle;
$heading2: $subtitle;
$heading3: $subtitle;
$heading4: $subtitle;
$heading5: $subtitle;

$layout-small: 768px;
$layout-medium: 1024px;

$font-h1: 3em;

@mixin headline($size, $color) {
  font-size: $size;
  color: $color;
}